apiVersion: v1
kind: Service
metadata:
  name: flask-service
  namespace: {{ namespace }}
spec:
  type: LoadBalancer
  selector:
    run: flask-app
  ports:
  - nodePort: 30359
    port: {{ container_port }}
    protocol: TCP
    targetPort: {{ container_port }}
  sessionAffinity: None