apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  namespace: {{ namespace }}
spec:
  selector:
    matchLabels:
      run: flask-app
  replicas: 1
  template:
    metadata:
      labels:
        run: flask-app
    spec:
      containers:
      - name: flask-app-cont
        image: {{ registry }}/{{ image }}:{{ image_tag}}
        env:
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: aws-secret
              key: aws_access_key_id
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: aws-secret
              key: aws_secret_access_key
        ports:
        - containerPort: {{ container_port }}